:root {
  --primary-color: #282c34;
  --secondary-color: #61dafb;
  --text-color: #ffffff;
  --hover-color: #555555;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

img {
  border-radius: 50%;
  margin: 20px 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 2em;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  margin: 5px 0;
  color: var(--secondary-color);
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}
